* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #F6F4F6;
  font-family: "Mulish", serif;
}

body { 
  --cor-destaque: #E76316;
  --color-red: #f00;
  --cor-erro: #DB2525;
  --cor-primaria: #5F1478;
  --cor-secundaria: #AE276F;
  --cor-branco: #FFFFFF;
  --cor-aviso: #FFC400;
  --cor-sucesso: #51C421;
  --cor-texto: #454545;
}